/* background color for all pages */
body {
    background: radial-gradient(circle at 0% 100%, #8B99CE, #5B9BBD, #608ECB);
    font-family: sans-serif;
}

/* makes all links black */
a {
    text-decoration: none;
    color: black;
}

/* creates underline animation for elements in nav bar */
.delayed-underline {
    position: relative;
    text-decoration: none;
    color: black; 
}

/* nav bar element is underlines when hovered over */
.delayed-underline::after {
    content: '';    
    height: 3px; 
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease;     
    background-color: black;
}

.delayed-underline:hover::after {
    width: 100%;
}

/* centering logo on landing page */
.logo {
    font-family: 'Roboto Serif';
    color: black;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* centering logo content on langing page */
.logo-spacing {
    display: flex;
    background-color: grey;
    border-radius: 30px;
    padding: 40px;
    width: 55%;
}

/* syling name */
.name {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* moving last name over */
.austin {
    margin-left: 100px;
}

/* creating letter jumping animation */
.explore {
    position: relative;
    font-size: 2vw;
    margin: auto;
    margin-left: 3vw;
    width: 50%;
}

.explore a span {
    position: relative;
    display: inline-block;
    letter-spacing: 5px;
    animation: waveAnim 1s infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes waveAnim{
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-70px);
    }
}

/* styling the navigation bar */
.menu {
    display: flex;
    justify-content:flex-end;
    position: sticky;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: auto; 
}

nav ul li a {
    padding: 20px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

/* styling header text on main page */
.header-text-1 {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: black;
}

/* changing styling of main title */
.header-text h1 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: black;
}

/* changing styling of subtitle*/
.header-text h2 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 2px;
    color: black;
}

/* changing section background */
#about {
    background-color: #8B99CE;
}

/* styling for bootstrap element */
.container {
    padding: 30px 10%;
    color: #1d2b3f;
    z-index: 1;
}

/* changing section background */
#projects {
    background-color: #5B9BBD;
}

/* styling project blocks */
.project-list {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

/* creating first glance project animations */
.project {
    width: 500px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
}

/* styling the hover pop up with information */
.layer {
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(179.86deg, rgba(255, 255, 255, 0.455026) 0.12%, #FFFFFF 46.88%);
    position: absolute;
    overflow: hidden;
    inline-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgb(82, 80, 80);
}

.project:hover .layer {
    height: 100%
}

/* fitting animation to box */
.animation{
    outline:auto;
    width:100%;
    height:100%;
    display:flex;
    justify-content:flex-end;
}

/* fitting bubble animation in container */
#lottie-container-about {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

/* styling for bootstrap on main page */
.row {
    display: flex;
    flex-direction: column;
}

.body-2-text {
    inline-size: 500px;
}

/* styling annimations */
.lottie {
    width: 500px;
    height: 370px;
    overflow: hidden;
}

/* styling social media icons at bottom */
.icons {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    width: 50%;
}

.icons li {
    display: inline-block;
    margin-right: 30px;
    }

.icons li a {
    font-size: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* changing background color of container */
#contact{
    background-color:#8B99CE;
}

.contact {
    display: flex;
} 

#contact-info {
    display:flex;
}

.contact-text {
    width: 50%;
    text-align: center;
}

.description {
    display: flex;
}

span {
    font-weight: bold;
}

.row {
    flex-direction: row;
}

/* styling stakeholder list on nofilter page */
.stakeholders {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stakeholder {
    margin-right: 10px;
    margin-bottom: 10px;
}

#figma-link {
    margin-top: 50px;
}

.contact-row {
    display: flex;
    width: 50%;
    justify-content: center;
}